## Import dependencies

In [164]:
import os
import sys
import argparse
import numpy as np
from sklearn.cluster import  KMeans
import matplotlib as mpl
mpl.use('Agg')
import matplotlib.pyplot as plt
import pandas as pd

## Read CSV file into pandas dataframe

In [262]:
filename = '/home/mkhali8/dev/adrc-clustering/data/WordFluencyMultiTest.csv'

In [263]:
#filename = 'WordFluencyMultiTest.csv'
df = pd.read_csv(filename,sep = '\t')

In [253]:
df.head()

,trails_testmethod,ds_rd_t1_2_resp,ds_rd_t1_5_scr,ds_rd_t2_5_scr,np_clock_center_q13,ds_fd_t1_3_resp,legacy_cerad_animal_veg_fluency_complete,avf_anm_notes,ds_fd_t2_3_resp,ds_testmethod,...,trails_a_na,avf_anm1,legacy_clock_complete,avf_anm4_c,ds_rd_t2_3_scr,np_clock_note,pt_id,trails_a_errors,ds_rd_t1_2_scr,ds_fd_t1_5_scr
0,NaN,NaN,1.0,0.0,1.0,NaN,0,NaN,NaN,NaN,...,NaN,"dog,cat,bird,horse,pig,cow,giraffe,elephant",0,1.0,1.0,NaN,116,0.0,1.0,1.0
1,NaN,NaN,NaN,NaN,1.0,NaN,0,NaN,NaN,NaN,...,NaN,"bears,squirrels,cats,dogs,fish,snkaes,bats,pan...",0,1.0,1.0,note?,147,0.0,1.0,1.0
2,NaN,NaN,0.0,0.0,1.0,NaN,0,NaN,NaN,NaN,...,NaN,"pig,chicken,cat,dog,elephant,mice",0,1.0,1.0,NaN,162,0.0,1.0,0.0
3,NaN,NaN,NaN,NaN,1.0,NaN,0,NaN,NaN,NaN,...,NaN,"cat,dog,horse,cow,pig,lion,tiger,bear,squirrel...",0,3.0,1.0,NaN,163,0.0,1.0,1.0
4,NaN,NaN,NaN,NaN,1.0,NaN,0,NaN,NaN,NaN,...,NaN,"fox,elephant,dog,cat,horse",0,0.0,0.0,NaN,164,0.0,1.0,0.0

In [254]:
dt = df['np_clock_center_q13']

In [255]:
dt.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: np_clock_center_q13, dtype: float64

In [228]:
dt.dtype

dtype('float64')

## convert pandas dataframe into numpy array

In [256]:
my_data = dt.as_matrix()

In [231]:
type(my_data)

numpy.ndarray

In [230]:
np.size(my_data)

1549

## Write function to impute missing values in array

In [251]:
def impute(my_data, mode = np.median, thres = 0.2):
    array = my_data
    array_nans_size = np.size(array[np.isnan(array)])
    array_nonans = array[~np.isnan(array)]
    percent_missing = np.float(array_nans_size) / np.float(np.size(array))
    if percent_missing < thres:
        percent_missing
        imputeval = mode(array_nonans)
        array[np.isnan(array)] =imputeval
        return(array)
    else:
        return None

## Run function on feature vector

In [258]:
my_data2 = impute(my_data, mode =np.median,thres = 0.2)

my_data[np.isnan(my_data)]